In [139]:
import pandas as pd

In [140]:
ResOCTWS = pd.read_csv('./res/OCTWS.csv')
ResOCTNoWS = pd.read_csv('./res/OCTNoWS.csv')
ResCART = pd.read_csv('./res/CART.csv')
ResOCT_b = pd.read_csv('./res/OCT_b.csv')
ResOCT_b_scale = pd.read_csv('./res/OCT_b_scale.csv')
res = {'OCTWS':ResOCTWS, 'OCTNoWS':ResOCTNoWS, 'OCT_b':ResOCT_b, 'OCT_b_scale':ResOCT_b_scale}

In [141]:
def resProcess(res):
    """
    Calculate the average results from random data split
    Select alpha with highest validation accuracy
    """
    if 'alpha' in res.columns:
        # Calculate the mean of the feat for each instance, depth and alpha
        mean = res.groupby(['instance', 'depth']).mean().reset_index()
        std = res.groupby(['instance', 'depth']).std().reset_index()
    else:
        mean = res.groupby(['instance', 'depth']).mean().reset_index()
        std = res.groupby(['instance', 'depth']).std().reset_index()
    return mean, std

In [142]:
def resCombine(res, feat):
    df = pd.DataFrame(columns=['instance', 'depth'])
    for r in res:
        df_mean, df_std = resProcess(res[r])
        df_mean = df_mean[['instance', 'depth', feat]]
        df_std = df_std[['instance', 'depth', feat]]
        df = df.merge(df_mean, how='outer', on=['instance', 'depth'])
        df = df.merge(df_std, how='outer', on=['instance', 'depth'])
        # rename columns to distinguish different models
        df.rename(columns={feat+'_x':r+'_'+feat+'_mean', feat+'_y':r+'_'+feat+'_std'}, inplace=True)
    return df

In [143]:
resCombine(res, 'gap').to_csv('./res/train_time.csv', index=False)

In [83]:
resProcess(ResOCTWS)

(           instance  depth     alpha  seed  train_acc   val_acc  test_acc  \
 0             Adult      1  0.036667   2.0   0.638667  0.637995  0.639174
 1             Adult      2  0.036667   2.0   0.638667  0.638051  0.639174
 2             Adult      3  0.036667   2.0   0.632969  0.632703  0.633490
 3     Breast Cancer      1  0.036667   2.0   0.735105  0.702093  0.696825
 4     Breast Cancer      2  0.036667   2.0   0.765700  0.702093  0.709524
 5     Breast Cancer      3  0.036667   2.0   0.786634  0.713366  0.709524
 6    Car Evaluation      1  0.036667   2.0   0.704861  0.706790  0.684414
 7    Car Evaluation      2  0.036667   2.0   0.751415  0.746914  0.750257
 8    Car Evaluation      3  0.036667   2.0   0.751929  0.745628  0.732510
 9   Credit Approval      1  0.036667   1.0   0.858896  0.865031  0.871951
 10  Credit Approval      2  0.036667   1.0   0.858896  0.865031  0.871951
 11  Credit Approval      3  0.005000   1.0   0.886503  0.904908  0.875000

     train_time       gap
 0   609.368379  0.953406
 1   618.407151       inf
 2   643.287392       inf
 3     0.187267  0.000000
 4    39.550137  0.000000
 5   546.478678  0.695932
 6     2.521451  0.000000
 7   561.157218  0.498860
 8   601.591733  0.811239
 9     1.634545  0.000000
 10  600.319534  0.697586
 11  392.282135  0.972437  ,
            instance  depth     alpha      seed  train_acc   val_acc  test_acc  \
 0             Adult      1  0.047697  0.866025   0.001677  0.003826  0.003123
 1             Adult      2  0.047697  0.866025   0.001677  0.003810  0.003123
 2             Adult      3  0.047697  0.866025   0.009723  0.009486  0.005747
 3     Breast Cancer      1  0.047697  0.866025   0.029902  0.044735  0.046718
 4     Breast Cancer      2  0.047697  0.866025   0.050465  0.063219  0.046839
 5     Breast Cancer      3  0.047697  0.866025   0.065630  0.051126  0.046291
 6    Car Evaluation      1  0.047697  0.866025   0.008909  0.023493  0.031207
 7    Car Evaluation      2  0.047697  0.866025   0.035944  0.035523  0.053735
 8    Car Evaluation      3  0.047697  0.866025   0.054395  0.053797  0.064671
 9   Credit Approval      1  0.055076  0.000000   0.000000  0.000000  0.000000
 10  Credit Approval      2  0.055076  0.000000   0.000000  0.000000  0.000000
 11  Credit Approval      3  0.007071  0.000000   0.026028  0.021690  0.012935

     train_time       gap
 0     4.980294  0.059587
 1     0.976292       NaN
 2     0.251000       NaN
 3     0.025520  0.000000
 4    12.741270  0.000000
 5   161.918634  0.382634
 6     0.601593  0.000000
 7    64.873551  0.424368
 8     0.104900  0.224761
 9     0.747481  0.000000
 10    0.021533  0.458687
 11  294.785178  0.038981  )

In [109]:
r = ResOCTWS
feat = 'train_time'

In [122]:
df = pd.DataFrame(columns=['instance', 'depth'])
df_mean, df_std = resProcess(ResOCTWS)
df_mean = df_mean[['instance', 'depth', 'train_time']]
df_std = df_std[['instance', 'depth', 'train_time']]
df = df.merge(df_mean, how='outer', on=['instance', 'depth'])
df = df.merge(df_std, how='outer', on=['instance', 'depth'])
df = df.rename(columns={'train_time_x':'mean of train_time', 'train_time_y':'std of train_time'})
df

           instance  depth  mean of train_time  std of train_time
0             Adult      1          609.368379           4.980294
1             Adult      2          618.407151           0.976292
2             Adult      3          643.287392           0.251000
3     Breast Cancer      1            0.187267           0.025520
4     Breast Cancer      2           39.550137          12.741270
5     Breast Cancer      3          546.478678         161.918634
6    Car Evaluation      1            2.521451           0.601593
7    Car Evaluation      2          561.157218          64.873551
8    Car Evaluation      3          601.591733           0.104900
9   Credit Approval      1            1.634545           0.747481
10  Credit Approval      2          600.319534           0.021533
11  Credit Approval      3          392.282135         294.785178

In [106]:
df_mean.rename(columns={'train_time':'OCTWS'}, inplace=True)

In [119]:
df_,mean

TypeError: can't multiply sequence by non-int of type 'str'